@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);

    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);

    --font-dm-sans: 'DM Sans', sans-serif;
}

body {
    font-family: var(--font-dm-sans);
    font-size: 18px;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34.5rem;
    background-color: var(--soft-red);
    padding: 1.85rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}

.balance p {
    color: var(--very-pale-orange);
    margin-bottom: .5rem;
}

.balance span {
    font-size: 2rem;
    color: var(--very-pale-orange);
    font-weight: 700;
}

.spending {
    background-color: var(--very-pale-orange);
    width: 34.5rem;
    padding: 2.5rem;
    border-radius: 1.5rem;
}

.spending  h1 {
    color: var(--dark-brown);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: var(--dark-brown);
    width: 4.5rem;
    height: 2.5rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    color: var(--very-pale-orange);
    visibility: hidden;
}

.bar {
    width: 3rem;
    height: 5rem;
    background-color: var(--soft-red);
    border-radius: .3rem;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    opacity: .75;
}

.handle-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: var(--medium-brown);
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--cream);
    margin-bottom: 2rem;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-month p {
    color: var(--medium-brown);
    font-size: 1.2rem;
}

.total-month span {
    color: var(--dark-brown);
    font-size: 2.5rem;
    font-weight: 700;
}

.percent #percent-number {
    text-align: end;
    color: var(--dark-brown);
    font-weight: 700;
}

.percent p {
    color: var(--medium-brown);
    font-size: 1.2rem;
}


